In [4]:
import sqlite3

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BE52-FBB2

 Directory of C:\Users\123sa\exception hand

14-08-2022  17:18    <DIR>          .
14-08-2022  17:21    <DIR>          ..
14-08-2022  17:14    <DIR>          .ipynb_checkpoints
14-08-2022  13:25             8,192 sktech.db
14-08-2022  13:27             4,616 sktech.db-journal
14-08-2022  17:13             5,072 sqlite3.ipynb
06-08-2022  14:51             2,236 statspract2.ipynb
08-08-2022  20:53           101,843 t-test.ipynb
12-08-2022  16:57    <DIR>          Untitled Folder
14-08-2022  17:18             1,637 Untitled.ipynb
               6 File(s)        123,596 bytes
               4 Dir(s)  421,924,237,312 bytes free

In [4]:
db = sqlite3.connect("sktech.db")

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BE52-FBB2

 Directory of C:\Users\123sa\exception hand

14-08-2022  17:18    <DIR>          .
14-08-2022  17:21    <DIR>          ..
14-08-2022  17:14    <DIR>          .ipynb_checkpoints
14-08-2022  13:25             8,192 sktech.db
14-08-2022  13:27             4,616 sktech.db-journal
14-08-2022  17:13             5,072 sqlite3.ipynb
06-08-2022  14:51             2,236 statspract2.ipynb
08-08-2022  20:53           101,843 t-test.ipynb
12-08-2022  16:57    <DIR>          Untitled Folder
14-08-2022  17:18             1,637 Untitled.ipynb
               6 File(s)        123,596 bytes
               4 Dir(s)  421,924,171,776 bytes free

In [6]:
c = db.cursor()       #cursor is responsible for creating objects we use to execute in table..

In [7]:
c.execute('create table yt(name text, pc int, cost int)')

OperationalError: table yt already exists

In [28]:
c.execute("Insert into yt values('ravi',5490,50000)")

In [29]:
c.execute("Insert into yt values('ravi',5490,50000)")
c.execute("Insert into yt values('ravi',5490,50000)")
c.execute("Insert into yt values('ravi',5490,50000)")

In [30]:
data = c.execute("select * from yt")

In [31]:
for i in data:
    print(i)

('ravi', 5490, 50000)
('ravi', 5490, 50000)
('ravi', 5490, 50000)
('ravi', 5490, 50000)

In [11]:
db.commit() #commit is used to store the data permenently.

In [12]:
db.close()

In [13]:
#it will close the entire db connection..

In [14]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BE52-FBB2

 Directory of C:\Users\123sa\exception hand

15-08-2022  14:46    <DIR>          .
14-08-2022  17:21    <DIR>          ..
14-08-2022  17:14    <DIR>          .ipynb_checkpoints
14-08-2022  13:25             8,192 sktech.db
14-08-2022  13:27             4,616 sktech.db-journal
15-08-2022  14:46             6,265 sqlite3.ipynb
06-08-2022  14:51             2,236 statspract2.ipynb
08-08-2022  20:53           101,843 t-test.ipynb
12-08-2022  16:57    <DIR>          Untitled Folder
14-08-2022  17:18             1,637 Untitled.ipynb
               6 File(s)        124,789 bytes
               4 Dir(s)  421,917,114,368 bytes free

In [15]:
db = sqlite3.connect("sktech.db") #it is used to connect a particular data base.

In [32]:
c = db.cursor() #we should create cursor object..

In [33]:
dt = c.execute("select * from yt where cost > 50 ")

In [36]:
for i in dt:
    print(i)

('ravi', 5490, 50000)
('ravi', 5490, 50000)
('ravi', 5490, 50000)
('ravi', 5490, 50000)

In [38]:
dt = c.execute("select * from yt where name = 'ravi' ")

In [39]:
for i in dt:
    print(i)

('ravi', 5490, 50000)
('ravi', 5490, 50000)
('ravi', 5490, 50000)
('ravi', 5490, 50000)

In [41]:
data = c.execute("select name ,pc from yt order  by cost ")

In [42]:
for i in data :
    print(i)

('ravi', 5490)
('ravi', 5490)
('ravi', 5490)
('ravi', 5490)

In [43]:
db.close()

In [44]:
db = sqlite3.connect("person.db")

In [45]:
c = db.cursor()

In [46]:
c.execute("create table person_table(name text , emailid text , age int , salary real)")

In [47]:
c.execute("insert into person_table values('sudh' , 'sudhanshu@ineuron.ai' , 234 , 23424)")
c.execute("insert into person_table values('prashant' ,'prashant@ineuron.ai' , 345 , 23543543)")
c.execute("insert into person_table values('krish' , 'krish@ineuron.ai' , 2345 ,34534564)")
c.execute("insert into person_table values('sunnny' ,'sunny@ineuron.ai' , 2354,7789797)")

In [48]:
data = c.execute("select * from person_table")

In [49]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)
('krish', 'krish@ineuron.ai', 2345, 34534564.0)
('sunnny', 'sunny@ineuron.ai', 2354, 7789797.0)

In [50]:
db.commit()

In [51]:
db.close()

In [52]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BE52-FBB2

 Directory of C:\Users\123sa\exception hand

15-08-2022  15:17    <DIR>          .
14-08-2022  17:21    <DIR>          ..
14-08-2022  17:14    <DIR>          .ipynb_checkpoints
15-08-2022  15:17             8,192 person.db
14-08-2022  13:25             8,192 sktech.db
15-08-2022  15:05            10,735 sqlite3.ipynb
06-08-2022  14:51             2,236 statspract2.ipynb
08-08-2022  20:53           101,843 t-test.ipynb
12-08-2022  16:57    <DIR>          Untitled Folder
14-08-2022  17:18             1,637 Untitled.ipynb
               6 File(s)        132,835 bytes
               4 Dir(s)  421,860,429,824 bytes free

In [5]:
db = sqlite3.connect('ineuron.db')

In [6]:
c = db.cursor()

In [7]:
c.execute('drop table fsds')

OperationalError: no such table: fsds

In [8]:
#joins in sql..

In [9]:
db.close()

In [10]:
db = sqlite3.connect('jobdb.db')

In [11]:
c = db.cursor()

In [12]:
c.execute('create table student(student_id int, student_name text, student_mailid text, marks int)')

OperationalError: table student already exists

In [13]:
c.execute('create table address(student_id int, pincode int, location text, nearby text, phone_no int)')

OperationalError: table address already exists

In [14]:
c.execute("insert into student values(234,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(235,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(236,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(237,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(238,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(239,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2310,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2311,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2343,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(23345,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")

In [15]:
c.execute("insert into address values(236 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(237 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(238 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(239 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(210 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23654 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(235345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23665 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23609 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23632 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23690 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [16]:
for i in c.execute("select * from address"):
    print(i)

(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [17]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [18]:
data = c.execute("select * from student s left join address a on s.student_id= a.student_id Where a.student_id is not null")

In [19]:
for i in data:
    print(i)

(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [20]:
where a.student_id is not null

SyntaxError: invalid syntax (3852751723.py, line 1)

In [21]:
data = c.execute("select * from address s left join student a on s.student_id=a.student_id ")  #s is just alias for the table.

In [22]:
for i in data :
    print(i)

(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)

In [23]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [24]:
#right and full outer join is not avaliable in sqllite3.

In [25]:
data = c.execute("select * from student")

In [26]:
data.fetchall()

[(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (236, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [27]:
#update operation..

In [31]:
data = c.execute("update student set marks = 1000 where marks = 234")

In [32]:
data = c.execute("select * from student")

In [33]:
data.fetchall()

[(1000, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (236, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (2310, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (2311, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (2343, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (233543, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (23345, 'sudhashu', 'sudhanshu@ineuron.ai', 1000),
 (233543, 'sudhashu', 'sudhanshu@ineuron.ai', 1000)]

In [34]:
db.close()

In [50]:
l = [1,2,3,4,5,6,7]

In [36]:
[i+5 for i in l]

[6, 7, 8, 9, 10, 11, 12]

In [46]:
def test(a):
    return a+5

In [47]:
#map fun....
a

[1, 2, 3, 4, 5, 6, 7]

In [51]:
list(map(test ,l))

[6, 7, 8, 9, 10, 11, 12]

In [52]:
def test2(a):
    return int(a)

In [55]:
test2("546")

546

In [57]:
list(map(test2, l))

[1, 2, 3, 4, 5, 6, 7]

In [58]:
from functools import reduce

In [59]:
l = [3,4,5,6,7,3,8]

In [60]:
sum(l)

36

In [61]:
def test5(a,b):
    return a+b

In [62]:
reduce(test5 , l)

36

In [63]:
l=[8,5,6,7,8,8]

In [64]:
reduce(test5,l)

42

In [65]:
l=[8,5,6,7,8,8]

In [66]:
reduce(lambda x,y :x/y , l)

0.0005952380952380952

In [67]:
l = [1,2,3,4]
l1 = [4,5,6,7,7]
l2 = ["sudhanshu" , "kumar" , "krish" , "sunny" , "ineuron"]

In [68]:
list(zip(l,l1,l2))

[(1, 4, 'sudhanshu'), (2, 5, 'kumar'), (3, 6, 'krish'), (4, 7, 'sunny')]